.movies-list-item.component {
	
	.title {
		font-size: 32px;
		font-family: $Futura;
		margin: 0 0 5px 0;
	}
	
	.year {
		font-size: 10px;
		font-family: $Futura;
		margin: 0 0 5px 0;
	}
	
	.poster {
		
	}
	
}